<!DOCTYPE html>
<html lang="en">
<head>
    <title>Motor Manager</title>

    <meta charset="UTF-8">

    <meta name="description" content="Motor Manager">
    <meta name="keywords" content="motor, manager, arduino">
    <meta name="author" content="Steven Mendoza">

    <meta http-equiv="refresh" content="1800"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='webStyle.css') }}">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='arduinoLogo.png') }}">
    
</head>
<body>
    <header>
        <h1>Motor Manager</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>                
            </ul>
        </nav>
    </header>
    
    <main>
    
        <section id="contact_info">

            <h3>Contact</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore tempora dicta nemo provident, odit, saepe, quod vitae harum eaque fuga assumenda eveniet? Praesentium quia tempore error veniam quisquam cupiditate inventore.</p>
        </section>
    </main>
    
    <footer>
        <p>Steven Mendoza &copy; 2024</p>
    </footer>
</body>
</html>